body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	font-family: 'SF Pro TC', 'SF Pro Display', 'SF Pro Icons', 'PingFang TC', 'Helvetica Neue', 'Helvetica', 'Arial',
		sans-serif;
	font-weight: 700;
	line-height: 20px;
	font-size: 16px;
	background-color: #f0f0de;
}
.f-lg {
	font-size: 1.2rem !important;
}
.f-sm {
	font-size: 0.85rem !important;
}
.l-2 {
	height: calc(2 * 20px) !important;
}
.px-2 {
	padding-left: 2rem !important;
	padding-right: 2rem !important;
}
.button-container {
	width: 120px;
	padding: 2.5rem;
}
.btn {
	width: 100%;
	height: 48px;
	background-size: 120px 48px;
	background-repeat: no-repeat;
	background-position: 50%;
	background-color: transparent;
	border: none;
	transition: background-image 0.1s;
}
.btn:focus {
	outline: none;
}
.btn:hover {
	cursor: pointer;
}
.btn-get {
	background-image: url(btn/btn-get-n.png);
}
.btn-get:hover {
	background-image: url(btn/btn-get-h.png);
}
.btn-get:active {
	background-image: url(btn/btn-get-a.png);
}
.btn-post {
	background-image: url(btn/btn-post-n.png);
}
.btn-post:hover {
	background-image: url(btn/btn-post-h.png);
}
.btn-post:active {
	background-image: url(btn/btn-post-a.png);
}
.btn-patch {
	background-image: url(btn/btn-patch-n.png);
}
.btn-patch:hover {
	background-image: url(btn/btn-patch-h.png);
}
.btn-patch:active {
	background-image: url(btn/btn-patch-a.png);
}
.btn-delete {
	background-image: url(btn/btn-delete-n.png);
}
.btn-delete:hover {
	background-image: url(btn/btn-delete-h.png);
}
.btn-delete:active {
	background-image: url(btn/btn-delete-a.png);
}
.flex {
	display: flex;
}
.flex-column {
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
.product-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
@media (min-width: 960px) {
	.product-container {
		max-width: calc(160px * 5 + 1rem * 8);
	}
}
.product-wrapper {
	display: flex;
	width: calc(120px + (16px * 2));
	border: 0.25rem solid rgba(41, 133, 255, 0.85);
	border-radius: 5px;
	margin: 0.5rem;
}
.product-wrapper > * {
	padding: 0.125rem 0;
}
.product-wrapper .title {
	display: flex;
	justify-content: center;
	align-items: center;
	word-break: break-word;
	margin: 0;
}
.product-wrapper > img {
	padding: 0;
	background-color: #dcdcdc;
	width: 100%;
	border-radius: 50%;
}
.product-wrapper span {
	font-size: 1rem;
}
.product-wrapper .content {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 96px;
}
span,
button {
	width: 100%;
	text-align: center;
	box-sizing: content-box;
}
.bt {
	border-top: 0.25rem solid rgba(41, 133, 255, 0.85);
}
.bb {
	border-bottom: 0.25rem solid rgba(41, 133, 255, 0.85);
}
